fastapi==0.115.6
uvicorn[standard]==0.32.1
asyncpg==0.30.0
redis==5.2.1
httpx==0.28.1
twilio==9.4.0
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.0
GeoAlchemy2==0.16.0
sqlalchemy[asyncio]==2.0.36
psycopg2-binary==2.9.10